@font-face {
    font-family: Adler;
    src: url(../fonts/Adler.ttf);
}

html { 
  background: url(../img/old-sheet-updated.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
	max-width: 1000px;
	margin: 0 auto;
	/*border: 4px solid orange;*/
}

.left {
	/*border: 2px solid blue;*/
	width: 30%;
	min-width: 150px;
	margin: 10px;
	/*border: 2px solid purple;*/
}

.right {
	/*border: 2px solid red;*/
	width: 40%;
	min-width: 150px;
	height: 500px;
	float: left;
	margin-left: 150px;
	/*border: 2px solid pink ;*/
}


.title {
	font-family: Adler;
	font-size: 30px;
	width: 80%;
	height: 30px;
	margin: 30px auto;
	text-align: center;
	/*border: 2px solid;*/
}

.decor {
	text-decoration: none;
	color: black;
}

.about {
	font-family: Adler;
	font-size: 25px;
	width: 80%;
	height: 30px;
	margin-top: 25px;
	/*border: 2px solid;*/

}

.musique {
	font-family: Adler;
	font-size: 25px;
	
	width: 80%;
	height: 30px;
	margin-top: 75px;
	/*border: 2px solid;*/
}

.contact {
	font-family: Adler;
	font-size: 25px;	
	width: 80%;
	height: 30px;
	margin-top: 75px;
/*	border: 2px solid;*/
}


.img {
	/*border: 2px solid;*/		
	margin-left: 130px;
	display: none;
}

img {
	border: 3px solid orange;
	border-radius: 5%;
	height: 100%;
	/*width: 70%;*/
}

@media screen and (max-width: 1024px){
	
	.img {
		margin-left: 50px;
	}
} 

@media screen and (max-width: 865px){
	.left{
		margin: 0;
	}
	.img {
		margin-left: 0px;
	}

}

@media screen and (max-width: 768px){
	.left {
		/*border:2px solid green;*/
		width: 25%;
	}

	.right{
		/*border:2px solid blue;*/
		width: 45%;
	}

	img {
		width: 300px;
		height: 480px;
	}

	
}

@media screen and (max-width: 625px){
	.left {
		/*border:2px solid green;*/
		width: 100%;
	}

	.right{
		/*border:2px solid blue;*/
		width: 100%;
		margin-left: 0;
	}

	img {
		width: 100%;
		height: 100%;

	}

	.contact {
		margin-bottom: 20px;
	}
}