@font-face {
    font-family: Adler;
    src: url(../fonts/Adler.ttf);
}


html { 
  background: url(../img/old-sheet.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.wrapper {
	display: flex;
	flex-wrap: wrap;
	max-width: 700px;
	margin: 30px auto;
	font-family: Adler;
	border-bottom: 2px solid;
	height: 50px;
}

.stereo {
	float: left;
	width: 50%;
	min-width: 250px;
	margin: 10px auto;

	/*border-bottom: 2px solid black;*/
}

.button {
	float: left;
	margin-right: 10px;
}

#timeline{
	width: 500px;
	height: 12px;
	background: black;
	margin: 40px auto;
	/*float: left;*/
	border-radius: 15px;
	
}

#playhead{
	width: 12px;
	height: 28px;
	/*border-radius: 50%;*/
	margin-top: -8px;
	background-color: black;
	position: absolute;
}
h3 {
	font-family: Adler;
	padding: 10px 0px 0px 20px;
	/*border:2px solid green;*/

}

#songList {
	border: 2px dashed;
	width: 60%;
	height: 700px;
	margin: 0 auto;
	box-shadow: 10px 10px 10px teal;

}


.songWrapperLeft {
	border-right: 2px dashed;
	width: 48%;
	float: left;
	/*margin: 0 auto;*/
}

.songWrapperRight {
	/*border: 2px solid orange;*/
	width: 49%;
	float: left;
	/*margin: 0 auto;*/
}

.videoList {
	width: 100%;
	border-bottom: 2px dashed;
	height: 50px;
	margin-top: 500px;
	box-shadow: 10px 10px 10px teal;
	
}
.videoList h3 {
	display: inline;
}

.h3Right {
	margin-left: 30%;
}

@media all and (max-width: 480px){
	
}

@media all and (min-width: 481px) and (max-width: 768px){
	
}

@media all and (min-width: 769px){
	
}


