.wrapper {
	border: 2px solid ;
	display: block;
	margin: 0 auto;
	width: 80%;

}

.stereo {
	border: 4px solid green;
	margin: 0 auto;
	display: inline-block;
}


.play, .pause, .next, .previous {
	width: 55px;
	height: 20px;
	border:3px solid black;
	background-color: yellow;
	display: inline-block;
	margin: 10px;
}