.wrapper {
	border: 2px solid ;
	display: block;
	margin: 0 auto;
	width: 80%;

}

.stereo {
	border: 4px solid green;
	margin: 0 auto;
	display: inline-block;
}


.play, .pause, .next, .previous, .random {
	width: 55px;
	height: 20px;
	border:3px solid black;
	background-color: yellow;
	display: inline-block;
	margin: 10px;
}

.songList {
	padding: 10px;
	margin-top: 20px;
	width: 200px;
	height: 200px;
	border: 2px solid red;

}

h3:hover{
	color: teal;
	cursor: pointer;
}

h2 {
	border: 4px solid green;
}

h3 {
	color: salmon;
	text-decoration: none;
}