@font-face {
    font-family: Adler;
    src: url(Adler.ttf);
}

html { 
  background: url(old-sheet-updated.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.wrapper {
	width: 90%;
	/*height: 700px;*/
	margin: 0 auto;
	border: 2px solid orange;
}

.left {
	/*border: 2px solid blue;*/
	width: 40%;
	height: 500px;
	float: left;
	border: 2px solid purple;
}

.right {
	/*border: 2px solid red;*/
	width: 40%;
	height: 500px;
	float: left;
	margin-left: 150px;
	border: 2px solid ;
}


.title {
	font-family: Adler;
	font-size: 30px;
	
	width: 80%;
	height: 30px;
	margin: 30px auto;
	text-align: center;
	/*border: 2px solid;*/
}

.decor {
	text-decoration: none;
	color: black;
}

.about {
	font-family: Adler;
	font-size: 25px;
	width: 80%;
	height: 30px;
	margin-top: 25px;
	/*border: 2px solid;*/

}

.musique {
	font-family: Adler;
	font-size: 25px;
	
	width: 80%;
	height: 30px;
	margin-top: 75px;
	/*border: 2px solid;*/
}

.contact {
	font-family: Adler;
	font-size: 25px;
	
	width: 80%;
	height: 30px;
	margin-top: 75px;
/*	border: 2px solid;*/
}


.img {
	/*border: 2px solid;*/
	width: 80%;
	height: 350px;
	margin-left: 130px;
	display: none;
}

img {
	border: 3px solid orange;
	border-radius: 5%;
}

/*@media screen and (max-width: 1024px){
	.right {
		border: 2px solid green;
	}
	.img {
		margin-left: 20px;
	}
} 

@media screen and (max-width: 768px){
	.right {
		border: 2px solid blue;

	}
	.img {
		margin-left: 0px;
	}

}*/


